.d-titleInputArea {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--d-color-title-inputArea);
  padding-bottom: 12px;
}

.d-inputText {
  padding-left: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 27px;
  color: var(--d-color-font-input);
  border-radius: 4px;
  border: 0px;
  width: 298px;
  height: 40px;
  margin-bottom: 24px;
}

.d-inputDivArea {
  margin-left: 31px;
}

.tagErro {
  max-width: 1251px;
  height: 100%;
  border-radius: 8px;
  max-width: 1251px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--d-color-title-inputArea);
  margin: 64px auto;
  
}
